<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Users - Admin Formula House</title>
        <%- include('./components/head.ejs') %>
    </head>
    <body>
        <%- include('./components/navbar.ejs') %>

        <div class="container mt-4">
            <h2>Users Management</h2>
            <% if (error) { %>
            <div class="alert alert-danger"><%= error %></div>
            <% } else if (success) { %>
            <div class="alert alert-success"><%= success %></div>
            <% } %>
            <table class="table table-dark rounded">
                <thead>
                    <tr class="">
                        <th class="p-3">ID</th>
                        <th class="p-3">username</th>
                        <th class="p-3">Email</th>
                        <th class="p-3">Role</th>
                        <th class="p-3">Created At</th>
                        <th class="p-3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(function(us) { %>
                    <tr>
                        <td class="p-3"><%= us.id %></td>
                        <td class="p-3"><%= us.username %></td>
                        <td class="p-3"><%= us.email %></td>
                        <td class="p-3">
                            <% if (us.is_admin) { %>
                            <div class="badge text-bg-danger">Admin</div>
                            <% } else { %>
                            <div class="badge text-bg-success">User</div>
                            <% } %>
                        </td>
                        <td class="p-3"><%= us.created_at.toLocaleDateString() %></td>
                        <td class="p-3">
                            <a class="btn btn-success btn-sm" href="/admin/users/edit/<%= us._id %>">Edit</a>
                            <a class="btn btn-danger btn-sm" href="/admin/users/delete/<%= us._id %>">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

        <%- include('./components/footer.ejs') %>
    </body>
</html>
